In [1]:
import pandas as pd
import numpy as np
import requests
import time
import re
import json
from tqdm.auto import tqdm

In [2]:
def getArabicAndEnglishDistrict(response):
    AllDistricts = []
    addresses = []
    iterations = json.dumps(response).count("formatted_address")
    Arabic_District = ''
    English_District = ''
    for n in range(iterations):
        addresses += re.split('، |, ',response['results'][n]['formatted_address'])
    
    for i in addresses:
        if("حي" in i):
            Arabic_District = i
    
    for i in addresses:
        if("District" in i):
            English_District = i
    
    AllDistricts.append(Arabic_District)
    AllDistricts.append(English_District)
    AllDistricts.append(response['results'][1]['formatted_address'])
    
    return AllDistricts

In [3]:
data = pd.read_csv("data.csv")

In [4]:
data

   id          x          y
0   1  24.758669  46.754498
1   2  21.770046  39.219084
2   3  21.444075  39.289890
3   4  24.704293  46.836440

In [5]:
listx = data['x'].tolist()
listy = data['y'].tolist()

Arabic_Districts_data = []
English_Districts_data = []
All_Districts_data = []

In [7]:
for i in tqdm(range(len(listx))):
    coord = str(listx[i])+","+str(listy[i])
    key = "AIzaSyAPFOHURFwBhIM0odMgSs5OLeOLZrJDZcQ"
    URL = "https://maps.googleapis.com/maps/api/geocode/json?latlng="+coord+"&key="+key
    r = requests.get(url = URL)
    response = r.json()
    
    Arabic_District = getArabicAndEnglishDistrict(response)[0]
    English_District = getArabicAndEnglishDistrict(response)[1]
    All_Districts = getArabicAndEnglishDistrict(response)[2]
    
    Arabic_Districts_data.append(Arabic_District)
    English_Districts_data.append(English_District)
    All_Districts_data.append(All_Districts)
    
    #print(coord,", ",Arabic_District," , ",English_District)

  0%|          | 0/4 [00:00<?, ?it/s]

In [8]:
print(Arabic_Districts_data)
print(English_Districts_data)
print(All_Districts_data)

['حي القدس', 'حي', '', 'حي السعادة']
['', '', 'Al Amir Fawaz Ash Shamaly District', '']
['RFQA3607، 3607 عبدالكريم بن هيثم، 8060، حي القدس، Riyadh 13214, Saudi Arabia', 'JGAB3894، 3894 القطيعي، 8004، حي الصالحية، Jeddah 23763, Saudi Arabia', '3109, Al Amir Fawaz Ash Shamaly District, 7153, الامير فواز الشمالي، جدة 22361, Saudi Arabia', 'RQAA2200، 2200 طلحة بن عبيدالله، 7060، حي السعادة، Riyadh 14257, Saudi Arabia']

In [9]:
data['Arabic_Districts'] = Arabic_Districts_data
data['English_Districts'] = English_Districts_data
data['All_Districts'] = All_Districts_data

In [10]:
data

,id,x,y,Arabic_Districts,English_Districts,All_Districts
0,1,24.758669,46.754498,حي القدس,,RFQA3607، 3607 عبدالكريم بن هيثم، 8060، حي الق...
1,2,21.770046,39.219084,حي,,JGAB3894، 3894 القطيعي، 8004، حي الصالحية، Jed...
2,3,21.444075,39.289890,,Al Amir Fawaz Ash Shamaly District,"3109, Al Amir Fawaz Ash Shamaly District, 7153..."
3,4,24.704293,46.836440,حي السعادة,,RQAA2200، 2200 طلحة بن عبيدالله، 7060، حي السع...

In [ ]:
data.to_csv("CSV_result.csv")
data.to_excel("Excel_result.xlsx")